body{
    background:  #E9ECEF;
    font-size: 0.8em;
}
.form-cal{
    background: #E9ECEF;
    
}
.box{
    height: 200px;
    background: #153D77;
}
.space{
    padding: 0 0.5em;
}
.tools{
    position: absolute;
    top: 3%;
    left: 1.4%;
    width: 97.2%;
}
.tools .form-group{
    margin-bottom: 0.5em;
}
.tools .col-md-8,
.tools .col-md-1,
.tools .col-md-10,
.tools .col-md-2{
    padding-left: 0;
    padding-right: 0;
}
.tools .card-body>form{
    padding: 1em 1em;
    background:  #E9ECEF;
    border-radius: 2px;
}
.card-header{
    background: #fff;
    border-bottom: 0;
}
.tableResult input.form-control,
.tools input.form-control{
    font-size: 1em;
    padding: 0;
    height: max-content;
    border: 1px solid #d2d4d6;
    outline: none !important;
    border-radius: 0;
}
.tools .form-group.form-inline>label{
    justify-content: flex-start;
    overflow:hidden;
}
.tools .btn.btn-outline-secondary.dropdown-toggle{
    padding: 0 0.4em;
    font-size: 1em;
    border-radius: 0;
}

.tableResult{
    margin-top: 7em;
    overflow: hidden;
    padding: 0 2em;
}
.tableResult .form-control{
    margin: 0 0.5em;
    
}
.tableResult select.form-control:not([size]):not([multiple]){
    height: max-content;
    padding: 0 0.5em;
    border-radius: 0;
    font-size: 1em;
}
.tableResult .content-table{
    font-size: 0.8em;
    height: 500px;
    overflow-y: scroll;
}
.content-table .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background: #C1E2FC;
}
.content-table .table td{
    padding-left: 0;
}